*{
    margin: 0;
    padding: 0;
  }

#page1{
    background-size: cover;
    background-image: url(assets/background1.jpg), radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
    height: 960px;
}
#page2{
    background-size: cover;
    background-image: url(assets/background2.jpg);
    height: 960px;
}
#page3{
    background-size: cover;
    background-image: url(assets/background3.jpg);
    height: 960px;
}
#page4{
    background-size: cover;
    background-image: url(assets/background4.png), radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(52, 44, 29, 0.80319) 73.22%, #080A0B 99.74%);
    height: 960px;
}
#page5{
    background-size: cover;
    background-image: url(assets/background5.png);
    height: 960px;
}
#page6{
    background-size: cover;
    background-image: url(assets/Background6.png);
    height: 960px;
}
/* navbar */
.navbar{
    height: 90px;
    background-color: black;
    opacity: 50%
}

.navbar-brand{
    padding-left: 107px;
    padding-right: 142px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.nav-link{
    margin-right: 32px;
    padding-left: 162px;
    list-style-type:none;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

#page1 h1{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top:250px;
}

#page1 h3{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

#page1 button{
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    margin-left: 480px;
}

#page1 p{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 280px;
    padding-left: 510px;
}

#page1 img{
    padding-left: 530px;
}

#page2 h3{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-top: 250px;
}

#page2 h1{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.carousel{
    position:relative;
    height: 400px;
    width: 80%;
    margin: 280px auto;
}

.carousel__image{
    width:100%;
    height:100%;
    object-fit: cover;
}

.carousel__track-container{
    background:salmon;
    height: 100%;
    position: relative;
}

.carousel__track{
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    background: transparent;
    border:0;
    cursor: pointer;
}

.carousel__button--left{
    left:-40px;
}

.carousel__button--right{
    right:-40px;
}

.carousel__button img{
    width:12px;
}

.carousel__nav{
    display:flex;
    justify-content: center;
    padding:10px 0;
    position: absolute;
    bottom: 10px;
    width:100%;
}

.carousel__indicator{
    cursor:pointer;
    width: 15px;
    height: 15px;
    margin:0 15px;
    border-radius: 50%;
    border:2px solid #FFFFFF;
    display: inline-block;
}

.active,.carousel__indicator:hover{
    background-color:gray;
}

#page3 h3{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-top: 258px;
}

#page3 h1{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#page3 ul {
    list-style: none;
  }
  
#page3 ul li::before {
    content: "\25E6";
    border-style: solid white;
    color: white;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1.5em;
    font-size: 2em;
    padding-left: 1.5em;
    vertical-align: middle;
    padding-right: 0.75em;
    line-height: 65px;
  }

#page3 p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    padding-left:3em;
}

.feature{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    letter-spacing: 2px;
    color: #FFB548;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}

#page4 h3{
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-top:145px;
}

#page4 h1{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.box-requirements{
    margin-top:100px;
    padding:30px
}

.box-requirements h5{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
    padding-top:10px;
}

.box-requirements p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: auto;
    line-height: 22px;
    color: #FFFFFF;
}

#page5 h1{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top:300px;
}

#page5 h3{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top:25px;
}

#page5 button{
    background: linear-gradient(183.46deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    width: 230px;
    text-align: center;
    text-transform: lowercase;
    font-style: #1A1917;
    margin-top:40px;
}

.card-1{
    width: 490px;
    height: 180px;
    margin: 7em;
}
.card-2{
    width: 490px;
    height: 180px;
}
.card-3{
    width: 490px;
    height: 180px;
    margin: 7em;
}

.card-title.card-name {
    letter-spacing: 2px;
    color: #ffb548;
    margin-bottom: 0rem;
  }

.card-text.card-position{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.5;
    letter-spacing: 1px;
}

.card-text{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.card-text-date{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

#page6 img{
padding-top: 53px;
}

#page6 h3{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding-top:200px;
}

#page6 h1{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#page6 h5{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

#page6 button{
    background: linear-gradient(183.46deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    width: 230px;
    text-align: center;
    text-transform: lowercase;
    font-style: #1A1917;
}

.navFooter{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px;
    align-items: flex;
    align-content: center;
}

.col-7{
    padding-top:50px;
}
.col-4 img{
padding:15px;
padding-bottom:30px;
}

.line2{
    padding-top: 20px;
    border-top:1px solid white;
}
.footer p{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.vertical-line{
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 10px;
}
