body{
    background-color: #9C835F;
}

.header{
    margin:  15px 0 35px 0;
    display:flex;
    align-items: center;
}

.header h1{
font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 2em;
text-align: center;
display: inline-block;
align-items: center;
color: #F9B23D;
text-transform: uppercase;
}

.player1 img{
    width: 80px;
    height: auto;
    margin: 1.5em;
}

.player1 img:active, .player1 img:hover{
    border: 10px solid gray;
    border-radius: 15%;
    background-color: gray;
}

.player1 h3{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 49px;
    text-align: center;
    display: inline-block;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.ul, li{
    list-style: none;
    padding: none;
}

.computer img{
    width: 80px;
    height: auto;
    margin: 1.5em;
}

.computer h3{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 49px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.refresh img{
    max-width: 5%;
    height: auto;
}